{% extends 'base.html' %}
{% load static %}

{% block content %}
 <style>
    .card {
        width: 15rem;
        margin: 10px;
        padding: 5px;
        border: 2px solid skyblue;
        border-radius: 50px;  
        
        display: inline-block;
        text-align: center;
        background-image: url("{% static 'img/bcg.png' %}");
        transition: transform .3s ease-in;
        
}

.card:hover img {
  transform: scale(1.2);
}



.member-card__country-flag-wrapper {
    position: absolute;
    z-index: 2;
    bottom: 80px;
    left: 8px;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.member-card__shirt-number {
    position: absolute;
    z-index: 2;
    top: -3px;
    right: 0;
    margin-right: 0.35em;
    color:#04113b;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: -5px;
    
}
    .cards{
      
      text-align: center;
    }

    
    .card-text{
        font-size: 20px;  
        font-weight: bold; 
        color:#04113b;
        font-family: 'Carter One', cursive;
    }



    /* @media only screen and (max-width: 1199px){
       .card{
        width: 15rem;
        margin: 10px;
        padding: 3px;
        
       }
    }

    @media only screen and (max-width: 767px){
       .card{
        width: 4px;
        height: auto;
       }
    } */
 </style>
    <h3  style="text-align: center; color: skyblue; margin: 30px;">Darvozabonlar</h3>
    <div class="cards">
    <div class="card">
      <span class="member-card__shirt-number">31</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/1cnlvryp/br.svg">
        </div>
        <img src="{% static 'img/ederson.webp' %}" class="card-img-top"  alt="...">
        <div class="card-body">
          <p class="card-text">Ederson Moraes</p>
        </div>
      </div>
      <div class="card">
        <span class="member-card__shirt-number">18</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/q0omqxek/de.svg">
        </div>
        <img src="{% static 'img/ortega.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Stefan Ortega</p>
        </div>
      </div>
      <div class="card" >
        <span class="member-card__shirt-number">13</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/rueglyql/us.svg">
        </div>
        <img src="{% static 'img/steffen.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Zack Steffen</p>
        </div>
      </div>
      <div class="card">
        <span class="member-card__shirt-number">33</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/kbujcobi/gb-eng.svg">
        </div>
        <img src="{% static 'img/carson.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Scott Carson</p>
        </div>
      </div>

      <hr>
      <h3  style="text-align: center; color: skyblue; margin: 30px;">Himoyachilar</h3>
      <div class="card">
        <span class="member-card__shirt-number">2</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/kbujcobi/gb-eng.svg">
        </div>
        <img src="{% static 'img/walker.webp' %}" class="card-img-top"  alt="...">
        <div class="card-body">
          <p class="card-text">Kyle Walker</p>
        </div>
      </div>
      <div class="card">
        <span class="member-card__shirt-number">3</span>
        <div class="member-card__country-flag-wrapper">
          <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/wyuhecht/pt.svg">
          </div>
        <img src="{% static 'img/dias.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Ruben Dias</p>
        </div>
      </div>
      <div class="card">
        <span class="member-card__shirt-number">5</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/kbujcobi/gb-eng.svg">
        </div>
        <img src="{% static 'img/stones.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">John Stones</p>
        </div>
      </div>
      <div class="card">
        <span class="member-card__shirt-number">6</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/xv1hoqyi/nl.svg">
        </div>
        <img src="{% static 'img/ake.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Nathan Ake</p>
        </div>
      </div>
<div class="card">
  <span class="member-card__shirt-number">7</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/wyuhecht/pt.svg">
        </div>
  <img src="{% static 'img/cancelo.webp' %}" class="card-img-top"  alt="...">
  <div class="card-body">
    <p class="card-text">Joao Canselu</p>
  </div>
</div>
<div class="card">
  <span class="member-card__shirt-number">14</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/34sj50z3/es.svg">
        </div>
  <img src="{% static 'img/laporte.webp' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Aymeric Laporte</p>
  </div>
</div>
<div class="card">
  <span class="member-card__shirt-number">21</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/34sj50z3/es.svg">
        </div>
  <img src="{% static 'img/gomez.webp' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Sergio Gomez</p>
  </div>
</div>
<div class="card">
  <span class="member-card__shirt-number">25</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/ygdf1u0z/ch.svg">
        </div>
  <img src="{% static 'img/akanji.webp' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Manuel Akanji</p>
  </div>
</div>
<div class="card">
  <span class="member-card__shirt-number">82</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/kbujcobi/gb-eng.svg">
        </div>
  <img src="{% static 'img/lewis.webp' %}" class="card-img-top"  alt="...">
  <div class="card-body">
    <p class="card-text">Rico Lewis</p>
  </div>
</div>
<div class="card">
  <span class="member-card__shirt-number">97</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/kbujcobi/gb-eng.svg">
        </div>
  <img src="{% static 'img/joshua.webp' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Joshua Wilson</p>
  </div>
</div>
  
<hr>
<h3  style="text-align: center; color: skyblue; margin: 30px;">Yarim Himoyachilar</h3>
<div class="card">
  <span class="member-card__shirt-number">4</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/kbujcobi/gb-eng.svg">
        </div>
  <img src="{% static 'img/kalvin.webp' %}" class="card-img-top"  alt="...">
  <div class="card-body">
    <p class="card-text">Kalvin Phillips</p>
  </div>
</div>
<div class="card">
  <span class="member-card__shirt-number">8</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/q0omqxek/de.svg">
        </div>
  <img src="{% static 'img/ilkay.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Ilkay Gundogan</p>
  </div>
</div>
<div class="card">
  <span class="member-card__shirt-number">10</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/kbujcobi/gb-eng.svg">
        </div>
  <img src="{% static 'img/grilish.webp' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Jack Grealish</p>
  </div>
</div>
<div class="card">
  <span class="member-card__shirt-number">16</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/34sj50z3/es.svg">
        </div>
  <img src="{% static 'img/rodri.webp' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Rodrigo</p>
  </div>
</div>

<div class="card">
  <span class="member-card__shirt-number">17</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/2naltqhs/be.svg">
        </div>
<img src="{% static 'img/kevin.webp' %}" class="card-img-top"  alt="...">
<div class="card-body">
<p class="card-text">Kevin De Bryune</p>
</div>
</div>
<div class="card">
  <span class="member-card__shirt-number">20</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/wyuhecht/pt.svg">
        </div>
<img src="{% static 'img/silva.webp' %}" class="card-img-top" alt="...">
<div class="card-body">
<p class="card-text">Bernardo Silva</p>
</div>
</div>
<div class="card">
  <span class="member-card__shirt-number">47</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/kbujcobi/gb-eng.svg">
        </div>
<img src="{% static 'img/foden.webp' %}" class="card-img-top" alt="...">
<div class="card-body">
<p class="card-text">Phil Foden</p>
</div>
</div>
<div class="card">
  <span class="member-card__shirt-number">80</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/kbujcobi/gb-eng.svg">
        </div>
<img src="{% static 'img/palmer.webp' %}" class="card-img-top" alt="...">
<div class="card-body">
<p class="card-text">Cole Palmer</p>
</div>
</div>

<hr>
<h3  style="text-align: center; color: skyblue; margin: 30px;">Hujumchilar</h3>
<div class="card">
  <span class="member-card__shirt-number">9</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/tollp40b/no.svg">
        </div>
  <img src="{% static 'img/haaland.webp' %}" class="card-img-top"  alt="...">
  <div class="card-body">
    <p class="card-text">Erling Haaland</p>
  </div>
</div>
<div class="card">
  <span class="member-card__shirt-number">19</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/2kuefji1/ar.svg">
        </div>
  <img src="{% static 'img/alvarez.webp' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Julian Alvarez</p>
  </div>
</div>
<div class="card">
  <span class="member-card__shirt-number">26</span>
      <div class="member-card__country-flag-wrapper">
        <img class="member-card__country-flag" src="https://mediacdn.mancity.com/meta/media/tpik1kes/dz.svg">
        </div>  
  <img src="{% static 'img/mahrez.webp' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Riyad Mahrez</p>
  </div>
</div>

<hr>
<h3  style="text-align: center; color: skyblue; margin: 30px;">Murabbiy</h3>
<div class="card">
  <img src="{% static 'img/pep.webp' %}" class="card-img-top"  alt="...">
  <div class="card-body">
    <p class="card-text">Pep Guardiola</p>
  </div>
</div>
</div>
  <hr>
  {% endblock content %}